# The website URL, WITHOUT the trailing slash!
BASE_URL=http://localhost:3000

# Optionally, this overrides the default port of 3000 in local development
# Typically, your hosting provider will set this for you in production
PORT=3000

# If you don't want to use Mailtrap, you can another service. But, you
# will need to create a new transporter in `src/controllers/`, update
# the `sendEmailToUser` function in `src/controllers/passport/magic-link.ts`
# to use the new transporter, and update the `src/constants.ts` file with
# the new service's configuration.
MAILTRAP_API_KEY=abcdefghijklmnopqrstuvwxyz0123456789
MAILTRAP_SENDER_EMAIL=mailtrap@demomailtrap.com
MAILTRAP_ENDPOINT=https://send.api.mailtrap.io/

# The secret used to sign the session ID cookie. Please make this a long,
# random string. You can generate one using `openssl rand -hex 32`.
COOKIE_SECRET=secret

# This project uses PostgreSQL as the database. You can use SQLite or MySQL
# if you prefer. You will simply need to update the files in`scr/drizzle/`
# to use the appropriate database driver. Outside of that, you will need to
# strip Drizzle out of the project and implement your own DB logic.
DATABASE_URL=postgresql://postgres:password@localhost:5432/postgres 

OPENAI_API_KEY=sk-proj-your-openai-api-key

STRIPE_PUBLISHABLE_KEY="pk_test_your_stripe_publishable_key"
STRIPE_SECRET_KEY="rk_test_your_stripe_secret_key"
STRIPE_WEBHOOK_SECRET="whsec_your_stripe_webhook_secret"
